<div class="delayedgramps-comment">
    <span class="delayedgramps-comment-profile"><%= comment.user.username %> </span>
    <span class="delayedgramps-comment-body"><%= comment.body %> </span>
</div>